<div ng-include="'views/widgets/common.html'"></div>
<div class="container-fluid">
    <div class="card card-container1">
        <h4>Choose Widget</h4>
        <hr class="colorgraph">
        <ul class="list-group">
            <li class="list-group-item">
                <a ng-click= "model.createWidgetHeader(widget)" class="btn btn-link">
                    Header
                </a>
            </li>
            <li class="list-group-item">
                <a ng-click= "model.createWidgetImage(widget)" class="btn btn-link">
                    Image
                </a>
            </li>
            <li class="list-group-item">
                <a ng-click= "model.createWidgetYoutube(widget)" class="btn btn-link">
                    YouTube
                </a>
            </li>
            <li class="list-group-item">
                <a ng-click= "model.createWidgetHtml(widget)" class="btn btn-link">
                    HTML
                </a>
            </li>
            <li class="list-group-item">
                <a ng-click= "model.createWidgetText(widget)" class="btn btn-link">
                    Text
                </a>
            </li>
        </ul>
    </div>
</div>
