<div ng-include="'views/widgets/common.html'"></div>
<div class="container-fluid">
    <div class="card card-container1">
        <h4>Choose Widget</h4>
        <hr class="colorgraph">
        <ul class="list-group">
            <li class="list-group-item"><a href="widget-heading.view.client.html">Header </a></li>
            <li class="list-group-item"><a href="widget-heading.view.client.html">Label </a></li>
            <li class="list-group-item"><a href="widget-heading.view.client.html">Html </a></li>
            <li class="list-group-item"><a href="widget-heading.view.client.html">Text Input </a></li>
            <li class="list-group-item"><a href="widget-heading.view.client.html">Link </a></li>
            <li class="list-group-item"><a href="widget-heading.view.client.html">Button </a></li>
            <li class="list-group-item"><a href="widget-image.view.client.html">Image </a></li>
            <li class="list-group-item"><a href="widget-youtube.view.client.html">Youtube </a></li>
            <li class="list-group-item"><a href="widget-heading.view.client.html">Data Table </a></li>
            <li class="list-group-item"><a href="widget-heading.view.client.html">Repeater </a></li>
        </ul>
    </div>
</div>
