<div ng-include="'views/widgets/common.html'"></div>

<div class="container-fluid">
    <div class="card card-container1">
        <h4>Widget Edit</h4>
        <hr class="colorgraph">
        <div class="row">
            <div class="col-lg-12">
                <div ng-model="model.widget.text"
                     text-angular
                     ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
                     ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
                     ['indent','outdent'],['html']]">
                </div>
                <a ng-click="model.updateWidget(model.widgetId, model.widget)" class="btn btn-success btn-block">Save</a>
                <a ng-click="model.deleteWidget(model.widgetId)" class="btn btn-danger btn-block">Delete</a>

            </div>
        </div>


    </div>
</div>




