<nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#!/websites" class="navbar-brand glyphicon glyphicon-chevron-left"></a>
            <span class="navbar-brand"></span>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!/profile"><span class="glyphicon glyphicon-user"> Profile</span></a></li>
                <li><a ng-click="model.logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>



<div class="container-fluid">
    <div class="card card-container1">
        <h4>Pages<a href="#!/websites/{{model.websiteId}}/pages/new">
            <span class="gly-right glyphicon glyphicon-plus-sign pull-right"></span></a></h4>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="page in model.pages">
                <a href="#!/websites/{{model.websiteId}}/pages/{{page._id}}/widget">{{page.name}}</a>
                <a href="#!/websites/{{model.websiteId}}/pages/{{page._id}}"> <span class="pull-right glyphicon glyphicon-cog"></span></a></li>
        </ul>
    </div>
</div>






<nav class="navbar navbar-custom navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-text navbar-right" style="margin-right: 10px;">
            <a href="#!/profile"><span class="glyphicon glyphicon-user"></span> </a>
        </div>
    </div>
</nav>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../../vendor/jquery/jquery.min.js"></script>
<script src="../../vendor/bootstrap/dist/js/bootstrap.min.js"></script>
