
<nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#!/websites" class="navbar-brand glyphicon glyphicon-chevron-left"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#!/profile"><span class="glyphicon glyphicon-user"> Profile</span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-click="model.logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container-fluid">
    <div class="card card-container">
        <div class="row">
            <div class="col-lg-4 hidden-md hidden-sm hidden-xs">
                <h4><span>websites<a href="#!/websites/new" class="pull-right">&plus;</a></span></h4>
            </div>
            <div class="col-lg-8">
                <h4>Create new website</h4>
            </div>
        </div>
        <hr class="colorgraph">
        <div class="row">
            <div ng-show="model.error" class="alert alert-danger">{{model.error}}</div>
            <div class="col-lg-4 hidden-md hidden-sm hidden-xs">
                <div class="listov1">
                    <ul class="list-group">
                        <li ng-repeat="website in model.websites" class="list-group-item">
                            <a href="#!/websites/{{website._id}}/pages">{{website.name}}</a>
                            <a href="#!/websites/{{website._id}}">
                                <span class="pull-right glyphicon glyphicon-cog"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input ng-model="website.name" type="text" id="name" class="form-control" placeholder="Name of website">
                </div>
                <div class="form-group">
                    <label for="Description">Description</label>
                    <textarea ng-model="website.description"
                              id="Description" class="form-control" placeholder="Description" rows="7"></textarea>
                </div>
                <a ng-click="model.createWebsite(website)" class="btn btn-primary btn-block">Create</a>
                <a href="#!/websites" class="btn btn-danger btn-block">cancel</a>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-custom navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-text navbar-right" style="margin-right: 10px;">
            <a href=""><span class="glyphicon glyphicon-grain"></span> </a>
        </div>
    </div>
</nav>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../../vendor/jquery/jquery.min.js"></script>
<script src="../../vendor/bootstrap/dist/js/bootstrap.min.js"></script>
